/* Available weights for `Vazir`: 100, 300, 400, 500, 700, 900 */
@font-face {
     font-family: 'Vazir';
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/752928c320a58de6ab6465d6a1b4d9b03c7d6cdb3204c20c3798a121f3b8e52e.eot");
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/752928c320a58de6ab6465d6a1b4d9b03c7d6cdb3204c20c3798a121f3b8e52e.eot?#iefix") format("embedded-opentype"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/ce495b67e2481e56130b24331be5d37990f4ad6a29e74c7bd538a9e903405b9d.woff2") format("woff2"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/e040013cf35a9b081df983579c4cbce46458a9a534c420f87562c688bc1b0adb.woff") format("woff"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/027c02cde90a53301fea06be93bce7a2664b64292c77cb611bb600a937495d37.ttf") format("truetype");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: 'Vazir';
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/54e9e189f51f7571a383993aabdf8c62713630cd50f0d5c051d4bbe73e41dc91.eot");
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/54e9e189f51f7571a383993aabdf8c62713630cd50f0d5c051d4bbe73e41dc91.eot?#iefix") format("embedded-opentype"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/b50dbd2c0c825c5b4305d9a85cf853e6c3de99bb5e97dbd03a1137785de2d42c.woff2") format("woff2"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/19bc71cb381664c0832189cd1f42c97560c452691f22077e969de6ff8f8dfaee.woff") format("woff"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/71d775a8b094960ddfe4720c658d975ad0b29ba1614dd563ee00560ba3957ebe.ttf") format("truetype");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: 'Vazir';
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/12beb453179c57feddae7668ffc538b64826e0625c15ceed78201c2f23caeede.eot");
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/12beb453179c57feddae7668ffc538b64826e0625c15ceed78201c2f23caeede.eot?#iefix") format("embedded-opentype"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/d63ef123ff06e9292cf85d4ee9614bbf4e1cc0f98a7ecd49593627f5d5e34dfd.woff2") format("woff2"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/231cbd4cf3fbe5cb6d3f7ed98811fb30fce694173131f04c53ef87ca2b4dbad8.woff") format("woff"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/87c70175ae1b0d6a9ba4d7e4eabe69ad4380c7ecc8380c63641ed7b27332dcbf.ttf") format("truetype");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: 'Vazir';
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/68bed8894ba9522de7ed48a02e7faa319976feddef841eac8e18b0bfaefe2afb.eot");
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/68bed8894ba9522de7ed48a02e7faa319976feddef841eac8e18b0bfaefe2afb.eot?#iefix") format("embedded-opentype"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/289ba8ee81e02cdfedfea5cd66c59337d69b1e0f4c89d5297b01d1a0d67b79d4.woff2") format("woff2"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/ab893ee38b633f77c3b9de9a72fc6cf860ae4c43db365de510dd11fe7f35d919.woff") format("woff"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/db9b9bc47f442200c3a6b49a7bb06e2993ab96ab7da97bab43867b73adb98476.ttf") format("truetype");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: 'Vazir';
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/137d800f7c13f14fb4a93d093431f5ce46e16b0951f30aa922e06bba3d050301.eot");
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/137d800f7c13f14fb4a93d093431f5ce46e16b0951f30aa922e06bba3d050301.eot?#iefix") format("embedded-opentype"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/2754108cc23ba5840270d19dc27f5a9876f51def0c5b565ff2650200daebd1fe.woff2") format("woff2"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/3a532e22ef144a4176cd7e81476686bf15c97fd225d409835ee3a7b971e44917.woff") format("woff"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/3f4c5ecf1c841b827c981e532b627013643b31389a3931bdd8eade19a248eb12.ttf") format("truetype");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: 'Vazir';
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/9eaafc610561a92791f56ea21d5ed54c0bd39143cbc3ebdf592954e662e84062.eot");
     src: url("https://fdn.fontcdn.ir/Fonts/Vazir/9eaafc610561a92791f56ea21d5ed54c0bd39143cbc3ebdf592954e662e84062.eot?#iefix") format("embedded-opentype"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/ef23fc4634173cd4e262bfecc3e25b2b22c9e08890f4ee41df37ed6fd5673faf.woff2") format("woff2"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/53d8dbdb2eb4dfd7834bbda624e3cd27744e99ef2a7086ac0b7c3253a8d287c5.woff") format("woff"),
          url("https://fdn.fontcdn.ir/Fonts/Vazir/35cb89a801884d9524aefc2504a1169a046d98a034df298674cba86d2f21193b.ttf") format("truetype");
     font-weight: 900;
     font-style: normal;
}
/* Powered by FontServer.ir */